server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fleet_db
    driver-class-name: org.postgresql.Driver
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true